@import "tailwindcss";
@theme {
  --color-regal-blue:#243c5a;
  --color-chatbot-bubble: #22262B;
  --color-chatbot-chat:#0C0D15;
  --color-chatbot-bg: #0B0C14;
  --color-chatbot-light: #2d3251;
  --color-nav-hover: rgba(98, 158, 253, 0.3);
  --color-body-font: #2D3251;
    --color-notes-bg: #131313;
    --shadow-input-bar: 0px -1px 31px 0px rgba(13, 0, 255, 0.3);
    --color-orange-highlight-dark: #FE5014;
    --color-orange-highlight-light:#FCAB40;
    --color-contact-dark: rgba(0,0,0, 0.5);
  --color-contact-light: #BBC7FA;
  --color-dashboard-blue-light: #cce4ff;
}
:root {
  --body-font-color: #2D3251;
  --body-font-highlight: #FE5014;
  --chatbot-bg-color: #0B0C14;
  --chatbot-light-color: #2d3251;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components{
  .nav-button {
    @apply text-body-font visited:text-inherit hover:bg-nav-hover rounded-full py-1 px-4 ease-out duration-300
  }

  .gradient-text-highlight{
    @apply bg-gradient-to-r from-[#FF7700] to-[#FF0000] bg-clip-text text-transparent
  }
}

.active{
  position: relative;
    @apply py-1 px-4
}
.active::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-body-font);
}
/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
